.crypto-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #121212;
}

.crypto-table-wrapper {
  overflow-x: auto;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(270deg, #7c7a7a, #585555, #1e1e1e);
  background-size: 600% 600%;
  animation: moveBackground 20s ease infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.crypto-table th, .crypto-table td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #2e2e2e;
  transition: background-color 0.3s ease;
}

/* Entry animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Highlighting color change */
@keyframes bgFlashGreen {
  0% {
    background-color: rgba(0, 255, 0, 0.1);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes bgFlashRed {
  0% {
    background-color: rgba(255, 0, 0, 0.1);
  }
  100% {
    background-color: transparent;
  }
}

.crypto-table tbody tr {
  animation: slideIn 0.5s ease forwards;
}

/* Apply background flash when value updates */
.flash-green {
  animation: bgFlashGreen 1s ease;
}

.flash-red {
  animation: bgFlashRed 1s ease;
}

.error {
  color: red;
  margin-top: 10px;
}

